.contacts {
}

.contact-list {
}

.contact-list__contact {
}

.contact {
  text-align: center;
  cursor: pointer;
}

.contact__img {
  border-radius: 50%;
  text-align: center;
  vertical-align: top;
  display: inline-block;
  margin: 0 20px;
  overflow: hidden;
  width: 80px;
  height: 80px;
}

.contact__img_img {
  width: auto;
  height: auto;
  max-width: 80px;
  max-height: 80px;
  min-width: 100%;
  min-height: 100%;
}

.contact__info {
  vertical-align: top;
  display: inline-block;
  margin: 0 20px;
  height: 80px;
}

.contact__info_name {
  color: #0b1040;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 40px;
}

.contact__info_phone {
  color: #adadad;
  font-family: "Segoe UI", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}